body {
  line-height: 1.5;
  color: #000;
  background: none;
  font-size: 10pt;
}
.container {
  background: none;
}
a img {
  border: none;
}
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content:" (" attr(href) ")";font-size:90%;
}

nav {
  display: none;
}
header h1 {
  text-indent: 0;
  background: none;
  color: #000;
}

.content h3 {
  padding-top: 0;
}
