$dblue: #1C2b33;
$blue: #184860;
$lblue: #7ABAD6;
$mblue: #298CBB;
$vlblue: #EAEDED;
$red: red;
$lred: orange;
$ow: #F8F9F9;

/* reset */

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color:$blue;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3, h4 {font-size:1em;margin-bottom:1em;}
p {margin:0 0 1.5em;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
address {margin:0 0 1.5em;font-style:italic;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}

/* serif */
body {
  font-family: Georgia, Times, serif;
}


/* sans-serif */
h1, h2, h3, h4, .nav, .aside, .footer, .sponsors {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

body {
  font-size: 100%;
  color: $dblue;
  background: $vlblue;
}

.container {
  max-width: 750px;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 4.5em 0 2em 0;
  background: $lblue url(/img/chd_bg_blue.png) repeat;
  h1, h2 {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  }
  h1 {
    background: transparent url(/img/chd_logo.png) no-repeat 50% 50%;
    text-indent: -9999px;
    font-size: 3em;
    margin-bottom: .125em;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
    color: $dblue;
  }
}

.footer {
  padding: 1.5em 0;
  background: $lblue url(/img/chd_bg_blue.png) repeat;
  p {
    text-align: center;
    font-size: .875em;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    font-weight: bold;
    margin-bottom: 0;
  }
}

#main {
  overflow: hidden;
  padding-bottom: 4.5em;
}

.content {
  width: 50%;
  margin-right: 14%;
  float: left;
  h3 {
    padding-top: 3em;
    text-transform: uppercase;
  }
  p {
    font-size: .875em;
  }
}

.aside {
  float: left;
  width: 32%;
  margin-top: 3em;
  padding: 0 1%;
  background: #FFF;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  p {
    font-size: .875em;
  }
  ul {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
    font-size: .875em;
    li {
      overflow: hidden;
      color: $blue;
      margin-bottom: .5em;
      line-height: 1.25em;
      border-bottom: 1px solid $vlblue;
      span {
        width: 3.2em;
        margin-bottom: .1em;
        color: #999;
        float: left;
      }
    }
  }
}

.teaser {
  padding: 0 90px;
  text-align: center;
  font-style: italic;
}

.nav {
  height: 1.5em;
  line-height: 2;
  top: 0;
  margin-bottom: 0;
  background: $vlblue;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .01em;
  border-top: 4px solid $blue;
  border-bottom: 1px solid $lblue;
  ul {
    font-size: .75em;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      a,
      a:link,
      a:visited {
        padding: 0 1.5em 0 0;
        color: $mblue;
        text-decoration: none;
      }
      a:hover,
      a:active,
      a:focus {
        color: $lblue;
        text-decoration: none;
      }
    }
  }
  a.twitter,
  a.twitter:link,
  a.twitter:visited {
    width: 80px;
    display: block;
    font-size: .75em;
    float: right;
    text-align: center;
    color: #FFF;
    background: $blue;
  }

  a.twitter:hover,
  a.twitter:active,
  a.twitter:focus {
    color: #FFF;
    background: $mblue;
  }
}

.sponsors {
  padding: 3em 0 4.5em 0;
  background: $ow url(/img/chd_bg_white.png) repeat;
  h3 {
    margin-bottom: 3em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    li {
      display: block;
      float: left;
      width: 100px;
      margin-right: 30px;
    }
    .sponsor_contact {
      width: 390px;
      margin-right: 0;
      padding: 2em 0 0 100px;
      font-size: .875em;
    }
  }
}

/* links */
a,
a:link,
a:visited {
  color: $mblue;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: $lblue;
  text-decoration: none;
}

.footer {
  a,
  a:link,
  a:visited {
    color: $blue;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  }

  a:hover,
  a:active,
  a:focus {
    color: $dblue;
  }
}

a.btn_link,
a.btn_link:link,
a.btn_link:visited {
  color: $ow;
  display: inline-block;
  margin-top: .75em;
  padding: .1em 1em;
  background: $blue;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a.btn_link:hover,
a.btn_link:active,
a.btn_link:focus {
  color: #FFF;
  background: $mblue;
}



@media screen and (max-device-width:660px), screen and (max-width:660px) {

  body {
    -webkit-text-size-adjust: 200%;
  }
  
  .container {
    max-width: 750px;
    width: auto;
    margin: 0 auto;
    padding: 0 2%;
  }

  .content {
    width: auto;
    margin-right: 0;
    float: none;
  }

  .aside {
    float: none;
    width: auto;
  }
  .teaser {
    padding: 0;
  }

}


@media screen and (max-device-width:360px),screen and (max-width:360px) {

  .nav {
    display: none;
  }
  
}