/* reset */
/* reset.css */
/* line 13, ../src/site.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 14, ../src/site.scss */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 15, ../src/site.scss */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../src/site.scss */
body {
  line-height: 1.5;
  background: white;
}

/* line 17, ../src/site.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 18, ../src/site.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

/* line 19, ../src/site.scss */
table, th, td {
  vertical-align: middle;
}

/* line 20, ../src/site.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

/* line 21, ../src/site.scss */
blockquote, q {
  quotes: "" "";
}

/* line 22, ../src/site.scss */
a img {
  border: none;
}

/* line 23, ../src/site.scss */
:focus {
  outline: 0;
}

/* typography.css */
/* line 26, ../src/site.scss */
html {
  font-size: 100.01%;
}

/* line 27, ../src/site.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #184860;
}

/* line 28, ../src/site.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 29, ../src/site.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 30, ../src/site.scss */
h3, h4 {
  font-size: 1em;
  margin-bottom: 1em;
}

/* line 31, ../src/site.scss */
p {
  margin: 0 0 1.5em;
}

/* line 32, ../src/site.scss */
strong, dfn {
  font-weight: bold;
}

/* line 33, ../src/site.scss */
em, dfn {
  font-style: italic;
}

/* line 34, ../src/site.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 35, ../src/site.scss */
li ul, li ol {
  margin: 0;
}

/* line 36, ../src/site.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 37, ../src/site.scss */
ul {
  list-style-type: disc;
}

/* line 38, ../src/site.scss */
ol {
  list-style-type: decimal;
}

/* line 39, ../src/site.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 40, ../src/site.scss */
dl dt {
  font-weight: bold;
}

/* line 41, ../src/site.scss */
dd {
  margin-left: 1.5em;
}

/* serif */
/* line 44, ../src/site.scss */
body {
  font-family: Georgia, Times, serif;
}

/* sans-serif */
/* line 50, ../src/site.scss */
h1, h2, h3, h4, .nav, .aside, .footer, .sponsors {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

/* line 54, ../src/site.scss */
body {
  font-size: 100%;
  color: #1c2b33;
  background: #eaeded;
}

/* line 60, ../src/site.scss */
.container {
  max-width: 750px;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 67, ../src/site.scss */
.header {
  padding: 4.5em 0 2em 0;
  background: #7abad6 url(/img/chd_bg_blue.png) repeat;
}
/* line 70, ../src/site.scss */
.header h1, .header h2 {
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 74, ../src/site.scss */
.header h1 {
  background: transparent url(/img/chd_logo.png) no-repeat 50% 50%;
  text-indent: -9999px;
  font-size: 3em;
  margin-bottom: .125em;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
/* line 83, ../src/site.scss */
.header h2 {
  font-size: 1.5em;
  margin-bottom: 2em;
  color: #1c2b33;
}

/* line 90, ../src/site.scss */
.footer {
  padding: 1.5em 0;
  background: #7abad6 url(/img/chd_bg_blue.png) repeat;
}
/* line 93, ../src/site.scss */
.footer p {
  text-align: center;
  font-size: .875em;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-weight: bold;
  margin-bottom: 0;
}

/* line 103, ../src/site.scss */
#main {
  overflow: hidden;
  padding-bottom: 4.5em;
}

/* line 108, ../src/site.scss */
.content {
  width: 50%;
  margin-right: 14%;
  float: left;
}
/* line 112, ../src/site.scss */
.content h3 {
  padding-top: 3em;
  text-transform: uppercase;
}
/* line 116, ../src/site.scss */
.content p {
  font-size: .875em;
}

/* line 121, ../src/site.scss */
.aside {
  float: left;
  width: 32%;
  margin-top: 3em;
  padding: 0 1%;
  background: #FFF;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
}
/* line 130, ../src/site.scss */
.aside p {
  font-size: .875em;
}
/* line 133, ../src/site.scss */
.aside ul {
  list-style: none;
  margin: 0 0 1.5em 0;
  padding: 0;
  font-size: .875em;
}
/* line 138, ../src/site.scss */
.aside ul li {
  overflow: hidden;
  color: #184860;
  margin-bottom: .5em;
  line-height: 1.25em;
  border-bottom: 1px solid #eaeded;
}
/* line 144, ../src/site.scss */
.aside ul li span {
  width: 3.2em;
  margin-bottom: .1em;
  color: #999;
  float: left;
}
/* line 152, ../src/site.scss */
.aside iframe {
  margin-bottom: 1.5em;
}

/* line 157, ../src/site.scss */
.teaser {
  padding: 0 90px;
  text-align: center;
  font-style: italic;
}

/* line 163, ../src/site.scss */
.nav {
  height: 1.5em;
  line-height: 2;
  top: 0;
  margin-bottom: 0;
  background: #eaeded;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .01em;
  border-top: 4px solid #184860;
  border-bottom: 1px solid #7abad6;
}
/* line 174, ../src/site.scss */
.nav ul {
  font-size: .75em;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 180, ../src/site.scss */
.nav ul li {
  display: inline;
}
/* line 184, ../src/site.scss */
.nav ul li a,
.nav ul li a:link,
.nav ul li a:visited {
  padding: 0 1.5em 0 0;
  color: #298cbb;
  text-decoration: none;
}
/* line 191, ../src/site.scss */
.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a:focus {
  color: #7abad6;
  text-decoration: none;
}
/* line 199, ../src/site.scss */
.nav a.twitter,
.nav a.twitter:link,
.nav a.twitter:visited {
  width: 80px;
  display: block;
  font-size: .75em;
  float: right;
  text-align: center;
  color: #FFF;
  background: #184860;
}
/* line 211, ../src/site.scss */
.nav a.twitter:hover,
.nav a.twitter:active,
.nav a.twitter:focus {
  color: #FFF;
  background: #298cbb;
}

/* line 217, ../src/site.scss */
.sponsors {
  padding: 3em 0 4.5em 0;
  background: #f8f9f9 url(/img/chd_bg_white.png) repeat;
}
/* line 220, ../src/site.scss */
.sponsors h3 {
  margin-bottom: 3em;
}
/* line 223, ../src/site.scss */
.sponsors ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 228, ../src/site.scss */
.sponsors ul li {
  display: block;
  float: left;
  width: 100px;
  margin-right: 30px;
}
/* line 234, ../src/site.scss */
.sponsors ul .sponsor_contact {
  width: 290px;
  margin-right: 0;
  padding: 2em 0 0 70px;
  font-size: .875em;
}

/* links */
/* line 246, ../src/site.scss */
a,
a:link,
a:visited {
  color: #298cbb;
  text-decoration: none;
}

/* line 253, ../src/site.scss */
a:hover,
a:active,
a:focus {
  color: #7abad6;
  text-decoration: none;
}

/* line 261, ../src/site.scss */
.footer a,
.footer a:link,
.footer a:visited {
  color: #184860;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 268, ../src/site.scss */
.footer a:hover,
.footer a:active,
.footer a:focus {
  color: #1c2b33;
}

/* line 275, ../src/site.scss */
a.btn_link,
a.btn_link:link,
a.btn_link:visited {
  color: #f8f9f9;
  display: inline-block;
  margin-top: .75em;
  padding: .1em 1em;
  background: #184860;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 288, ../src/site.scss */
a.btn_link:hover,
a.btn_link:active,
a.btn_link:focus {
  color: #FFF;
  background: #298cbb;
}

/* line 294, ../src/site.scss */
.register_soon {
  color: #298cbb;
  font-weight: bold;
  text-align: center;
  padding: .75em 0;
}

@media screen and (max-device-width:660px), screen and (max-width:660px) {
  /* line 305, ../src/site.scss */
  body {
    -webkit-text-size-adjust: 200%;
  }

  /* line 309, ../src/site.scss */
  .container {
    width: 95%;
    margin: 0 auto;
    padding: 0 2%;
  }

  /* line 315, ../src/site.scss */
  .content {
    width: auto;
    margin-right: 0;
    float: none;
  }

  /* line 321, ../src/site.scss */
  .aside {
    float: none;
    width: auto;
  }

  /* line 325, ../src/site.scss */
  .teaser {
    padding: 0;
  }
}
@media screen and (max-device-width:360px),screen and (max-width:360px) {
  /* line 334, ../src/site.scss */
  .nav {
    display: none;
  }
}
