/* reset */
/* reset.css */
/* line 12, ../src/site.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 13, ../src/site.scss */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 14, ../src/site.scss */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 15, ../src/site.scss */
body {
  line-height: 1.5;
  background: white;
}

/* line 16, ../src/site.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 17, ../src/site.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

/* line 18, ../src/site.scss */
table, th, td {
  vertical-align: middle;
}

/* line 19, ../src/site.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

/* line 20, ../src/site.scss */
blockquote, q {
  quotes: "" "";
}

/* line 21, ../src/site.scss */
a img {
  border: none;
}

/* line 22, ../src/site.scss */
:focus {
  outline: 0;
}

/* typography.css */
/* line 25, ../src/site.scss */
html {
  font-size: 100.01%;
}

/* line 26, ../src/site.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #184860;
}

/* line 27, ../src/site.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 28, ../src/site.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 29, ../src/site.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 30, ../src/site.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 31, ../src/site.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 32, ../src/site.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 33, ../src/site.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 34, ../src/site.scss */
p {
  margin: 0 0 1.5em;
}

/* line 35, ../src/site.scss */
strong, dfn {
  font-weight: bold;
}

/* line 36, ../src/site.scss */
em, dfn {
  font-style: italic;
}

/* line 37, ../src/site.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 38, ../src/site.scss */
li ul, li ol {
  margin: 0;
}

/* line 39, ../src/site.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 40, ../src/site.scss */
ul {
  list-style-type: disc;
}

/* line 41, ../src/site.scss */
ol {
  list-style-type: decimal;
}

/* line 42, ../src/site.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 43, ../src/site.scss */
dl dt {
  font-weight: bold;
}

/* line 44, ../src/site.scss */
dd {
  margin-left: 1.5em;
}

/* serif */
/* line 47, ../src/site.scss */
body {
  font-family: Georgia, Times, serif;
}

/* sans-serif */
/* line 53, ../src/site.scss */
h1, h2, h3, h4, nav {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

/* line 58, ../src/site.scss */
body {
  border-top: 4px solid #184860;
  font-size: 100%;
  color: #1c2b33;
  background: #eaeded;
}

/* line 65, ../src/site.scss */
.container {
  width: 750px;
  margin: 0 auto;
}

/* line 70, ../src/site.scss */
header {
  padding: 6em 0 2em 0;
  background: #7abad6 url(/img/chd_bg_blue.png) repeat;
}
/* line 73, ../src/site.scss */
header h1, header h2 {
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 77, ../src/site.scss */
header h1 {
  font-size: 3em;
  margin-bottom: .125em;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
/* line 84, ../src/site.scss */
header h2 {
  font-size: 1.5em;
  margin-bottom: 2em;
  color: #1c2b33;
}

/* line 91, ../src/site.scss */
.teaser {
  padding: 0 100px;
  text-align: center;
  font-style: italic;
}

/* line 97, ../src/site.scss */
nav {
  width: 100%;
  height: 1.5em;
  line-height: 2;
  position: fixed;
  top: 4px;
  margin-bottom: 2em;
  background: #eaeded;
  text-transform: uppercase;
}
/* line 106, ../src/site.scss */
nav ul {
  font-size: .75em;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 112, ../src/site.scss */
nav ul li {
  display: inline;
}
/* line 116, ../src/site.scss */
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  padding: 0 1.5em 0 0;
  color: #298cbb;
  text-decoration: none;
}
/* line 123, ../src/site.scss */
nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
  color: #7abad6;
  text-decoration: none;
}
/* line 131, ../src/site.scss */
nav a.twitter,
nav a.twitter:link,
nav a.twitter:visited {
  width: 100px;
  display: block;
  font-size: .75em;
  float: right;
  text-align: center;
  color: #FFF;
  background: #184860;
}
/* line 143, ../src/site.scss */
nav a.twitter:hover,
nav a.twitter:active,
nav a.twitter:focus {
  color: #FFF;
  background: #298cbb;
}

/* links */
/* line 152, ../src/site.scss */
a,
a:link,
a:visited {
  color: #298cbb;
  text-decoration: none;
}

/* line 159, ../src/site.scss */
a:hover,
a:active,
a:focus {
  color: #7abad6;
  text-decoration: underline;
}
