<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>{{ page.title }} Coworking Hack Day</title>
     <!--[if IE]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
     <style>
       article, aside, dialog, figure, footer, header,
       hgroup, menu, nav, section { display: block; }
     </style>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/stylesheets/site.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/stylesheets/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <script type="text/javascript" src="http://use.typekit.com/dhw8otl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="shortcut icon" href="favicon.ico" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24928113-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
      <nav class="nav">
        <div class="container">
          <a href="http://twitter.com/cohackday" title="twitter.com/cohackday" class="twitter">Twitter</a>

          <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects_and_rsvp">Projects &amp; RSVP</a></li>
            <li><a href="#location">Location</a></li>
          </ul>

        </div>
      </nav>

      <header id="header" class="header">
        <div class="container">
          <h1>Coworking Hack Day</h1>
          <h2>Berlin, August 27-28, 2011</h2>

          <p class="teaser">
            Coworking is all about bringing people together and making their daily work environment as creative and comfortable as possible. Coworking Hack Day takes this to the next level: One weekend of getting together, teaching each other and hacking an even more awesome coworking experience.
          </p>

        </div>
      </header>

      <div id="main">
        <div class="container">
          <div class="content">
            {{ content }}
          </div>

          <aside class="aside">
            {% include sidebar.md %}
          </aside>

        </div>
      </div>

    <div class="sponsors">
      <div class="container">
        <h3>Meet our sponsors</h3>
        <ul>
          <li><a href="http://co-up.de"><img src="/img/sponsor_logo_coup.png" alt="Logo co.up" /></a></li>
          <li><a href="http://cobot.de"><img src="/img/sponsor_logo_cobot.png" alt="Logo cobot" /></a></li>
          <li class="sponsor_contact">Are you interested in sponsoring this event? <br />Get in touch at <a href="mailto:cohackday@co-up.de">cohackday@co-up.de</a>.</li>
        </ul>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Coworking Hack Day is organized by <a href="http://twitter.com/piile" title="Aleks on Twitter">Aleks</a>, <a href="http://twitter.com/kriesse" title="Kriesse on Twitter">Kristina</a> and <a href="http://twitter.com/freaklikeme" title="Thilo on Twitter">Thilo</a>.</p>
        <p>&copy; co.up Coworking Space 2011</p>
      </div>
    </footer>

  </body>

</html>

